body{
	font-family:'Lucida Grande',
	'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3',
	Meiryo, メイリオ, sans-serif;
	font-size: 18px;
	color: rgb(54, 54, 54);
	background-color: #F2EFDC;
	
	padding: 0;
	margin: 0;
}

h2{
	color: #037E8C;
}

h3{
	color: #024959;
}

section{
    margin: 1em 0;
	padding: 3em 0;
	border-top: dotted 1px #363636;
}
a{
	color: #363636;
}

em{
	color: #E74C30;
}

.container{
    width: 53em;
	margin: auto;
}

.slide{
	width: 30em;
	margin: auto;
}

#global-menu{
	background-color: rgba(255,255,255,.4);
	margin-bottom: 2em;
	padding: 1em 0;
}

#global-menu h1{
	font-size: 80%;
	margin: 0;
	margin-right: 2.8em;
	display: inline-block;
}

#global-menu ul{
	list-style: none;
	margin: 0;
    padding: 0;
	display: inline-block;
}
#global-menu ul > li{
	font-size: 80%;
    display: inline-block;
}


#doc > section:first-child{
	border-top: none;
	padding-top: 1em;
}

#global-footer{
	color: #F2EFDC;
	background-color: #024959;
	margin: 0;
	padding: 2em 0;
}

#globa-footer p{
	font-size: 80%;
}